.container{
    display: -webkit-box;
}

.loginField{
    width: 20rem;
    margin: 100px auto;
}

.logo{
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.loginBtn{
    width: 100%;
    margin-top: 20px !important;
}