.lang{
    text-align: right;
    padding: 10px 20px;
}

.loginField{
    width: 360px;
    margin:160px auto 0 auto;
    padding: 20px 20px 20px 20px;
    background: #ffffff;
    .title{
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }
}