body {
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

body {
    text-rendering: optimizeLegibility;

    :global {
        .ant-menu-dark .ant-menu-inline.ant-menu-sub {
            box-shadow: none;
        }

        .antd-pro-components-sider-menu-index-sider {
            box-shadow: none;
        }
    }
}